@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-logo: 'Comfortaa', cursive;
  --font-body: 'Poppins', sans-serif;
  --shadow-dark: 0 0 20px 8px #d4d4d444;
  --text-xxl: 12rem;
}

*{
  box-sizing: border-box;
}
*:focus {
  scale: 1.005;
}
button{
  cursor:pointer;
}

.card_element {
  -webkit-box-shadow: -1px 1px 13px -2px #525252ab; 
  box-shadow: -1px 1px 13px -2px rgba(82,82,82,0.67);
}